<h1><%= t('.my_profile').capitalize %></h1>
<p><%= @user.username.presence || @user.email %></p>

<% if @user.authentications.any? %>
<h3>Authentications</h3>
<ul>
  <% @user.authentications.each do |auth|
    auth.presenter.context = self
  %>
  <li><%= auth.provider.to_s.titleize %> (<%= link_to("remove", auth.presenter.path, method: :delete) %>)</li>
  <% end %>
</ul>
<% end %>

<ul class="side-nav">
  <li><%= link_to t('.edit').capitalize, edit_user_registration_path %></li>
  <li><%= link_to t('.public_profile').capitalize, user_path(@user.to_param) %></li>
</ul>